<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Registro</title>
  </head>
  <body>
    <h1>Registro de usuario</h1>
    <form method="POST" action="/signup">
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" required>
      <br>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="passw" required>
      <br>
      <input type="submit" value="Registrarse">
    </form>
  </body>
</html>
